services/n8n/workflows/Blog_Generator.json
{
  "name": "Blog Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        -20
      ],
      "id": "ed691839-4af5-4052-9aef-6225783be816",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://models.github.ai/inference/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"openai/gpt-4.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional SEO content strategist focused on the Tech Explainers & How-Tos niche. Your job is to perform deep keyword research, analyze top competitors’ tutorial blogs, draw inspiration from best-in-class how-to posts, identify content gaps, and generate an actionable blog-post idea.\\n\\n**Competitor blogs to analyze:**\\n- DigitalOcean Community Tutorials: https://www.digitalocean.com/community/tutorials\\n- How-To Geek: https://www.howtogeek.com\\n- Tutorialspoint: https://www.tutorialspoint.com\\n- freeCodeCamp News: https://www.freecodecamp.org/news\\n- GeeksforGeeks: https://www.geeksforgeeks.org\\n\\n**Inspirational examples:**\\n- How To Set Up and Configure an OpenVPN Server on Ubuntu 20.04: https://www.digitalocean.com/community/tutorials/how-to-set-up-and-configure-an-openvpn-server-on-ubuntu-20-04\\n- NVMe vs SSD: A Simple Guide: https://www.kamatera.com/blog/nvme-vs-ssd-a-simple-guide/?p=996\\n- Gitflow Workflow | Atlassian Git Tutorial: https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow\\n- How to Use Rsync for Local and Remote Data Transfer and Synchronization: https://linuxize.com/post/how-to-use-rsync-for-local-and-remote-data-transfer-and-synchronization/\\n- How To Install Node.js on Ubuntu 20.04: https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-20-04\\n\\nWhen given a prompt, respond **only** with structured analysis in Markdown, using bullet points, under these exact sections:\\n\\n1. **Competitor Research**  \\n2. **Keyword Research**  \\n3. **Inspirational Examples**  \\n4. **Content Gaps & Angles**  \\n5. **Blog-Post Idea**\\n\\nDo not include greetings, transitions, follow-up questions, or any commentary outside these sections.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        -20
      ],
      "id": "253640ad-166c-4384-8c42-550df6a19290",
      "name": "Search Topic Ideas",
      "credentials": {
        "httpBearerAuth": {
          "id": "ccNHNbcIIUWT5eBL",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://models.github.ai/inference/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    model: \"openai/gpt-4.1\",\n    messages: [\n      {\n        role: \"system\",\n        content: `You are a helpful SEO and blog content writer.\nGiven:\nn1. Competitor Research\nn2. Keyword Research\nn3. Inspirational Examples\nn4. Content Gaps & Angles\nn5. Blog-Post Idea\ncreate an idea for a blog post in the Tech Explainers & How-Tos niche.\n\nIt should contain:\n- A title for the blog post.\n- A description of the content.\n- An outline of the content as a list of chapter headings. (do not mention the concusion chapter)\n- A description for an image for the thumbnail that encapsulates the main idea of the blog.\n\nThe idea should be relevant and up-to-date. \nThe description should be coherent and align with the ideas.\n\nOutput the result in JSON:\n{ \n  \"title\": \"<title>\",\n  \"content_description\": \"<content-description>\",\n  \"outline\": [\"<chapter-1>\", \"<chapter-2>\", ...],\n  \"image_description\": \"<image-description>\"\n}`      \n      },\n      {\n        role: \"user\",\n        content: $json.choices[0].message.content\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -20
      ],
      "id": "b85eab67-5d0b-4899-aa63-75dcffd7a27f",
      "name": "Prepare Topic",
      "credentials": {
        "httpBearerAuth": {
          "id": "ccNHNbcIIUWT5eBL",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://models.github.ai/inference/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    model: \"openai/gpt-4.1\",\n    messages: [\n      { role: \"system\", \n        content: `You are an expert SEO content writer. \nYou will be given: \n- a title \n- a description \n- an outline as a list of chapters.\n\nYour job is to write an excellent blog post on the topic. \nWrite a long, detailed, in-depth chapter for each chapter in the outline and remember to add a conclussion chapter at the end, summerizing the main points of the blog. \nDo NOT write shallow, short, or generic. \n\nOutput the result in JSON: \n  { \"title\": \"<title>\", \n    \"content_description\": \"<content-description>\", \n    \"outline\": [{\"title\": <chapter-1-title>, \"content\": \"<chapter-1-content>\"},{\"title\": <chapter-2-title>, \"content\": \"<chapter-2-content>\"}, ...] },\n    \"conclusion\": \"<conclusion-content>\"`\n  },\n      { role: \"user\", content: `\nTitle: ${$json.choices[0].message.content.parseJson().title} \nDescription: ${$json.choices[0].message.content.parseJson().content_description} Outline: ${$json.choices[0].message.content.parseJson().outline.toJsonString()}\n    ` }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -20
      ],
      "id": "1ddce24b-e892-4a87-9d3d-463958b5fe5d",
      "name": "Write Blog Post",
      "credentials": {
        "httpBearerAuth": {
          "id": "ccNHNbcIIUWT5eBL",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stack-blog_hono:3000/api/n8n/blog",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"blogPost\": {\n      \"title\": $json.choices[0].message.content.parseJson().title,\n      \"content_description\": $json.choices[0].message.content.parseJson().content_description,\n      \"outline\": $json.choices[0].message.content.parseJson().outline,\n      \"conclusion\": $json.choices[0].message.content.parseJson().conclusion,\n      \"image_description\": $('Prepare Topic').item.json.choices[0].message.content.parseJson().image_description,\n    } \n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -20
      ],
      "id": "037005ab-9daf-46b5-82f4-1f282473cf4a",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Topic Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Topic Ideas": {
      "main": [
        [
          {
            "node": "Prepare Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Topic": {
      "main": [
        [
          {
            "node": "Write Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog Post": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f16212da-9bea-428c-971f-72a8a8a431e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1353224722207ae14ff2a39b0b636eab3988fdb7431b328c998e3ea09833be73"
  },
  "id": "qtuWdupk9KDwABtF",
  "tags": []
}